<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>

.row {
  display: flex;
}

.column {
  flex: 50%;
}

form, h2, h1{
  text-align: center;
}
.form-group,label {
    padding: 12px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

</style>
<div class="container-fluid">
  <h1>Welcome to our CSE 412 Group Project</h1>
  <div class="row">
    <div class="column">
      <h2>Player Search</h2>
      <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Player Name:</label>
          <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
          <label for="college">College Name:</label>
          <input type="text" class="form-control" formControlName="college">
        </div>

        <select formControlName="year">
          <option>--Select Year--</option>
          <option *ngFor="let year of years" [ngValue]="year">
            {{ year }}
        </option>
        </select>
        
        <div class="form-group">
          <button class="btn btn-primary" (click)="searchTitle()" type="submit">
            Submit Query
          </button> 
        </div>

        <pre>{{playerForm.value.year}}</pre>
      </form>

      <div class="container p-5">
 
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Player Name</th>
              <th scope="col">Season</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of players">
              
              <td>{{user.nflid}}</td>
              <td>{{user.displayname}}</td>
              <td>{{user.season}}</td>
            </tr>
          
          </tbody>
        </table>
        
        </div>

    </div>

    <div class="column">
      <h2>Team Search</h2>
      <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Team Name</label>
          <input type="text" class="form-control" formControlName="name">
          <div>
            <strong> ex) Ravens, Falcons, etc...</strong>
          </div>
        </div>

        <select class="form-group" formControlName="year">
          <option>--Select Year--</option>
          <option *ngFor="let year of years" [ngValue]="year">
            {{ year }}
        </option>
        </select>
        
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            Submit Query
          </button> 
        </div>

        <pre>{{teamForm.value.year}}</pre>
      </form>
    </div>

  </div>
</div>
