<style>
.row {
  display: flex;
}

.column {
  flex: 50%;
}

h2, h1, tr {
  text-align: center;
}
.form-group,label {
    padding: 12px;
}

.input-group {
  text-align: center;
  position: flex;
}

input {
  width: 200px;
}

.input-group-append {
  padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  background-color: #96D4D4;
}

</style>
<div class="container-fluid">
  <h1>Welcome to our CSE 412 Group Project</h1>
  <div class="row">
    <div class="column">
      <h1>Player Search</h1>
     
      <div class="input-group">

        <div class="input-group-append">
          <input
            type="text"
            class="form-control"
            placeholder="Search player by full name"
            [(ngModel)]="playername"
          />
        </div>

        <div class="input-group-append">
          <input
            type="text"
            class="form-control"
            placeholder="Search player by college name"
            [(ngModel)]="collegename"
          />
        </div>

        <div class="input-group-append">
          <select #year (change)="onSelected(year.value)">
            <option default>--Select Season Year--</option>
            <option *ngFor="let year of years" [ngValue]="seasonyear">
              {{ year }}
          </option>
          </select>
        </div>


        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="onSubmitPlayer()">
            Search
          </button>
        </div>

      </div> <!--End of input-group-->

      
      <h2>Player List</h2>
        

      <div class="container p-7">

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Player Name</th>
              <th scope="col">Season</th>
              <th scope="col">Postion</th>
              <th scope="col">Hometown</th>
              <th scope="col">College Name</th>
              <th scope="col">Jersey Number</th>
              <th scope="col">Height</th>
              <th scope="col">Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players; let i = index">
              
              <td>{{player.displayname}}</td>
              <td>{{player.fullname}}</td>
              <td>{{player.season}}</td>
              <td>{{player.position}}</td>
              <td>{{player.hometown}}</td>
              <td>{{player.collegename}}</td>
              <td>{{player.jerseynumber}}</td>
              <td>{{player.height}}</td>
              <td>{{player.weight}}</td>
            </tr>
          
          </tbody>
        </table>
        </div>

      

    </div>

    <div class="column">
      <h1>Team Search</h1>
      <!--
      <form >
        <div>
          <label for="name">Team Name</label>
          <input type="text" class="form-control" formControlName="name">
          <div>
            <strong> ex) Ravens, Falcons, etc...</strong>
          </div>
        </div>

        <select class="form-group" formControlName="year">
          <option>--Select Year--</option>
          <option *ngFor="let year of years" [ngValue]="year">
            {{ year }}
        </option>
        </select>
        
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            Submit Query
          </button> 
        </div>


      </form>-->
    </div>

  </div>
</div>
